[submodule "themes/termux"]
	path = themes/termux
	url = https://github.com/moonbloom-theme/termux.git
[submodule "themes/zsh"]
	path = themes/zsh
	url = https://github.com/moonbloom-theme/zsh.git
[submodule "themes/vivaldi"]
	path = themes/vivaldi
	url = https://github.com/moonbloom-theme/vivaldi.git
[submodule "themes/alacritty"]
	path = themes/alacritty
	url = https://github.com/moonbloom-theme/alacritty.git
[submodule "themes/visual-studio-code"]
	path = themes/visual-studio-code
	url = https://github.com/moonbloom-theme/visual-studio-code.git
